*{
	margin:0;
	padding:0;
	outline:0;
}

body{
	font-family:sans-serif, Arial;
	transition:all 0.5s ease;
}

img{
	width:100%;
	height:auto;
}
a{
	text-decoration:none;
}
a:hover{
	color:orange;
}
ul{
	list-style-type:none;
}

h1,h2,h3,h4,h5,h6{
	/*margin:15px 0px;*/
}
p{
	margin:10px 0px;
	line-height:150%;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.clear{
	overflow:hidden;
}

/*typography finish....*/

.full_wrapper{
	width:100%;
}
.wrapper{
	width:1200px;
	margin:0 auto;
}

/*header part start....*/


.header_bg {
    background: #656565;
    border-bottom: 5px solid #2e2e2e;
}
.header_section{
	background:#656565;
	padding:15px 0px;
}
.header_section>.header_left{
	width:400px;
}
.header_left img{
	width:50px;
	height:50px;
	float:left;
	margin-right:10px;
	margin-top: 4px;
}

.header_left h2{
	color:white;
	font-size:25px;
	margin-top: 15px;
}

.header_right{

}
.header_social_icon{
	margin-top:8px;
}
.social {
    color: white;
    background: #424141;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition:all .7s ease;
}
.social:hover{
	background:#ddd;
	color:orange;
}
.same_icon {
    padding: 9px 0px 0px 11px;
    display: inline-block;
}



/*header part finish....*/


/*menu part start....*/

.nav_bg{
    background: #33495E;
    border-bottom: 5px solid #2E2E2E;
}
.menu_section{
    height: 80px;
    width: 100%;
}
.menu_section>nav>ul{
    float: left;
}
.menu_section>nav>ul>li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.menu_section>nav>ul>li>a{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
.menu_section>nav>ul>li>a:hover{
    border: 1px solid white;
    transition: all .5s ease;
}
.menu_section>nav>ul>li>a.active{
    border: 1px solid white;
}
#icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}
.search_bar{
    float: left;
    margin-left: 208px;
}
.search_box{
    padding: 10px 20px;
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-top: 21px;
    margin-right: 10px;
}
.menu_search_btn{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background: #2196F3;
    color: white;
    cursor: pointer;
}

/*menu part finish....*/


/*Slider part Start....*/

.slider_bg{
	background:#ddd;
	padding-top:5px;
	padding-bottom:20px;
}
.myslider{
	z-index:-10;
}
#wrapper{
	margin-top:20px;
}

/*Slider part finish....*/


/*content part start....*/

.content_bg{

	background:#DDDDDD;

}
.content_section{
	width:900px;
	margin-right:20px;
	float:left;
	background:#fff;
	padding:15px  10px;
}
.content_left{

	float:left;
	width:420px;

}
.content_left h2,.content_right h2 {
    color: #6a6a6a;
    font-size: 30px;
    padding-bottom: 8px;
    border-bottom: 2px solid #cbc6c6;
    margin-bottom: 10px;
}
.same_content {
    margin-bottom: 75px;
}
.same_content img {
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 10px;
    border: 1px solid #c4c2c2;
    padding: 5px;
    background: #e7e5e5;
    border-radius: 5px;
    box-shadow: 3px 3px 4px 0px #4b4848;
}
.content_group{

}
.content_group h3 {
    color: #686666;
    font-size: 19px;
}
.content_group p {
    color: #838383;
    font-size: 16px;
}
.content_group a {
    border: 1px solid #c0bbbb;
    padding: 5px 10px;
    color: white;
    background: #444;
    font-size: 17px;
    border-radius: 4px;
    overflow: hidden;
    transition:all .8s ease;
}

.content_group a:hover{
	background:orange;
	color:black;
}


.content_right{
	width:420px;
	float:right;
}
.content_right h2{
	
}

/*content part finish....*/


/* sidebar part start */
.sidebar_section{
	width:260px;
	float:right;
}
.sidebar_content{
	padding:0px 0px 10px 0px;
}

.sidebar_content h2 {
    color: #6A6A6A;
    background: #575757;
    color: white;
    padding: 5px 10px;
}

.sidebar_content ul {
    background: white;
}

.sidebar_content ul li {
    padding: 7px 10px;
    border-bottom: 1px dotted #c2c2c2;
}

.sidebar_content ul li a{

}

.sidebar_content ul li a:hover{

}

.search_btn {
    width: 236px;
    padding: 7px 10px;
    border: 1px solid #c7b4b4;
}

/* sidebar part finish*/


/* Footer part Start*/

.footer_bg{
	background:#656565;
	padding:15px 0px;
}
.footer_section{}
.footer_section p{
	color:white;
	text-align:center;
	font-style:18px;
}


/* Footer part finish*/

/* fixed social icon css start*/

.fixed_social_icon{
	position:fixed;
	top:230px;
	right:10px;
    z-index: 100;
}
.fixed_social_icon ul{

}
.fixed_social_icon ul li{
	transition:all .5s ease;
}
.fixed_social_icon ul li img{
	width:35px;
	height:35px;
	cursor:pointer;
}
.fixed_social_icon ul li:hover{
	background:white;
	padding:3px 5px;
}

/* fixed social icon css finish*/

/* pagination design start */

.pagination{

}
.pagination ul {
	
}

.pagination ul li {
    float: left;
    background: blue;
    margin: 6px 8px 6px 8px;
}

.pagination ul li a {
    color: black;
    display: inline-block;
    background: #828282;
    padding: 7px 11px 8px 11px;
    transition: all .8s ease;
}

.pagination ul li a:hover{
	background:orange;
}

/* style for about page start */

.about_part{

}

.about_part h2 {
    color: #796f6f;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc0c0;
    padding-bottom: 5px;
    text-shadow: 3px 3px 3px #8b908b;
}

.about_part img {
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 15px;
    border: 4px solid #d2cdcd;
    border-radius: 5%;
}

.about_part p {
    font-size: 14px;
    line-height: 180%;
    color: #6d6969;
}

/* style for about page end */

/*product page css start */

.product_part{

}

.product_part h2 {
    color: #716d6d;
    padding-bottom: 5px;
    border-bottom: 1px solid #c7bbbb;
}

.product_img{

}

.product_img img {
    width: 277px;
    height: 200px;
    margin: 15px 15px 15px 0px;
    float:left;
    border:4px solid #4e4a4a;
    transition: all .5s ease;
}

.product_img img:hover{
	transform:scale(2,2);
	cursor:pointer;
}

/*product page css end */

/*contact part css start*/

.contact-form {
    margin-left: 28%;
}
.contact_part h2 {
    text-align: center;
    color: #28b1bf;
    border-bottom: 2px dotted #a3a3ad;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.contact-form{}
.same_label {
    color: white;
    font-size: 18px;
}

.same_contact_field {
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #c3b8b8;
    padding-left: 10px;
    color: red;
    margin-left:20px;
}

.contact_submit {
    margin-left: 20px;
    background: #464242;
    color: white;
    padding: 8px 15px;
    border: none;
    text-transform: uppercase;
    box-shadow: 4px 4px 4px #666d66;
    cursor: pointer;
    transition:all .8s ease;
}

.contact_submit:hover{
	background:orange;
}

/*contact part css end*/